---
---

$primary: #093637;
$secondary: #ffb199;

$header-bg-color: $primary;
$header-bg-color-secondary: $secondary;
$header-heading-color: #fff;
$section-headings-color: $primary;
$body-link-color: $primary;
//$code-bg-color: $primary;
//$code-text-color: #fff;
@import "{{ site.theme }}";
.page-header{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.8) 35%), url('../demo.mp4'), url('../demo.jpg');
  background-size: cover;
}


.underline{
  text-decoration: underline;
}

.highlight .err {
  color: inherit;
  background-color: inherit;
}
